@model _1372556_ProjetFinal.Models.VwListeJeux

<h1>Jeux sortit avant 2010</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nom Jeu</th>
            <th>Date de Sortie</th>
            <th>Age</th>
            <th>Génération</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var jeu in Model.JeuxComplexList)
        {
            <tr>
                <td>@jeu.NomJeu</td>
                <td>@jeu.DateSortie</td>
                <td>@jeu.Age</td>
                <td>@jeu.NomGeneration</td>
            </tr>
        }
    </tbody>
</table>
