@model _1372556_ProjetFinal.Models.Types

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Types</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTypes">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
